<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
  <div class="container">
      <div class="inner-sec-w3ls py-lg-5  py-3">
          <h3 class="tittle text-center mb-lg-4 mb-3">
              <span>Our Mission</span>
              Popular Categories
            </h3>
          <div class="row populor_category_grids mt-5 justify-content-center" *ngFor="let categoryElement of categoriesRowCont; let categoryIndex = index" >            
              <div class="col-md-3 category_grid" *ngFor="let cat of categoryElement">
                  <div class="view view-tenth" [ngClass]="cat.color">
                      <div class="category_text_box">
                          <i class="fas" [ngClass]="cat.icon"></i>
                          <h3> {{cat.categoryTitle}}</h3>
                          <p>(34 open flow-positions)</p>
                      </div>
                      <div class="mask">
                          <a href="#">
                              <img src="{{cat.image}}" class="img-fluid" alt="">
                          </a>
                      </div>
                  </div>
              </div>              
          </div>        
      </div>
  </div>
</section>
