<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
  <!---728x90--->
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Some Info</span>Selection Process</h3>

            <div class="mid-info text-center mt-5">
                <div class="parent-chart">
                    <div class="level lev-one top-level">
                        <div class="flow-position">
                            <img src="assets/images/s1.jpg" alt=" " class="img-fluid rounded-circle">
                            <br>
                            <strong>Recruitment Process</strong>
                            <br> Lorem ipsum
                        </div>
                    </div>
                    <div class="flow-chart">
                        <div class="level lev-two last-lev">
                            <div class="flow-position">
                                <img src="assets/images/s2.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>1.Job Vacancy</strong>
                                <br> Lorem ipsum
                            </div>
                            <!--
                        -->
                            <div class="flow-position">
                                <img src="assets/images/s3.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>2. Job Analysis
                                </strong>
                                <br> Lorem ipsum
                            </div>
                            <!--
                        -->
                            <div class="flow-position">
                                <img src="assets/images/s4.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>3. Attracting Candidates
                                </strong>
                                <br> Lorem ipsum
                            </div>
                            <!--
                        -->
                            <div class="flow-position">
                                <img src="assets/images/s5.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>4.Screening </strong>
                                <br> Lorem ipsum
                            </div>
                            <!--
                        -->
                            <div class="flow-position">
                                <img src="assets/images/s6.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>5.Interviewing Candidates
                                </strong>
                                <br> Lorem ipsum
                            </div>
                            <!--
                        -->
                            <div class="flow-position">
                                <img src="assets/images/s7.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>6.Selecting</strong>
                                <br> Lorem ipsum
                            </div>
                            <!--
                        -->
                            <div class="flow-position">
                                <img src="assets/images/s8.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>7.Employee Evaluation
                                </strong>
                                <br> Lorem ipsum
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>