<section class="clents-slide py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Some Info</span> What Clients Say?</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner mt-5">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>convallis felis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                        <h5>Davidson</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team4.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team3.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Cras rutrum</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Janet Levine</h5>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                        <h5>Mercurio</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team2.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team1.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Cras rutrum</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Rene Rickman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>convallis felis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                        <h5>Mark Jackman</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team1.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team2.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Convallis</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Daniele</h5>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                        <h5>Mercurio</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team3.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team4.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Cras rutrum</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Melissa Hoffman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>convallis felis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                        <h5>Melissa Hoffman</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team4.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team3.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Convallis</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Daniele </h5>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                        <h5>Thomas Muller</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team2.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="assets/images/team1.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Mark Jackman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fas fa-long-arrow-alt-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                </a>

            </div>
        </div>
    </div>
</section>