<div class="banner-info-w3layouts text-center">

    <h3>
        <span>Find the Right Job</span> .
        <span>Right Now.</span>
    </h3>
    <p>Your job search starts and ends with us.</p>

    <form action="#" method="post" class="ban-form row">
        <div class="col-md-3 banf">
            <input class="form-control" type="text" name="Name" placeholder="Name" required="">
        </div>
        <div class="col-md-3 banf">
            <select class="form-control" id="country12">
                <option>Location</option>
                <option>Afghanistan</option>
                <option>Alaska</option>
                <option>Andong</option>
                <option>Bologna</option>
                <option>Canada</option>
                <option>France</option>
                <option>Germany</option>
            </select>
        </div>
        <div class="col-md-3 banf">
            <select id="country13" class="form-control">
                <option>Finance Sector</option>
                <option>Banking Sector</option>
                <option> Engineering Sector</option>
                <option>Accounting Jobs</option>
                <option>Interior Design</option>
                <option>Export Import Jobs</option>
            </select>

        </div>
        <div class="col-md-3 banf">
            <button class="btn1" type="submit">FIND JOB
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>