<section class="banner_bottom mobile-app">
    <div class="dotts py-lg-5 py-3">
        <div class="container">
            <!--/mobile-app -->
            <div class="inner-sec-w3ls py-lg-5  py-3">
                <div class="row">
                    <div class="col-md-7 app-info">
                        <h3 class="header">Download &amp; Enjoy</h3>
                        <p class="para_vl">Nam arcu mauris, tincidunt sed convallis non, egestas ut lacus. Cras sapien urna, malesuada ut varius consequat, hendrerit nisl. Aliquam vestibulum, odio non ullamcorper malesuada.</p>
                        <ul class="app-devices mt-5">
                            <li>
                                <a href="#" title="">
                                    <i class="fab fa-apple"></i>
                                    <span class="app-con">App Store
                                        <span class="avail">Available now on the </span>
                                    </span>

                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <i class="fab fa-google-play"></i>

                                    <span class="app-con">Google Play
                                        <span class="avail">Get in on</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p class="para_vl">
                            <a href="#">Click here </a>to know more about apps.</p>
                    </div>
                    <div class="col-md-5 app-img">
                        <img src="assets/images/mobile.png" alt=" " class="img-fluid">
                    </div>
                </div>
                <!--//mobile-app -->
            </div>
        </div>
    </div>
</section>