<section class="banner-bottom-wthree mid py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <div class="mid-info text-center pt-3">
                <h3 class="tittle text-center cen mb-lg-5 mb-3">
                    <span>Some Info</span>Make a Difference with Your Online Resume!</h3>
                <p></p>
                <div class="resume">
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="far fa-user"></i> Create Acccount</a>
                </div>
            </div>

        </div>
    </div>
</section>