<div class="job-post-main row my-3">
  <div class="col-md-9 job-post-info text-left">
      <div class="job-post-icon">
          <i class="fas fa-briefcase"></i>
      </div>
      <div class="job-single-sec">
          <h4>
              <a href="#">{{_jobObject.jobTitle}}</a>
          </h4>
          <p class="my-2">{{_jobObject.company}}</p>
          <ul class="job-list-info d-flex">
              <li>
                  <i class="fas fa-briefcase"></i> {{_jobObject.locationCity}}</li>
              <li>
                  <i class="fas fa-map-marker-alt"></i> {{_jobObject.locationState}}</li>
              <li>
                  <i class="fas fa-dollar-sign"></i>  {{_jobObject.salary}}</li>
          </ul>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="col-md-3 job-single-time text-right">
      <span class="job-time">
          <i class="far fa-heart"></i> Full Time</span>
      <a href="#" class="aply-btn ">Apply Now</a>
  </div>
</div>