<footer class="footer-emp-w3layouts bg-dark dotts py-lg-5 py-3">
    <div class="container-fluid px-lg-5 px-3">
        <div class="row footer-top">
            <div class="col-lg-3 footer-grid-wthree-w3ls">
                <div class="footer-title">
                    <h3>About Us</h3>
                </div>
                <div class="footer-text">
                    <p>Staffing agencies are becoming increasingly vital to the business world. 
                        We are a great resource for companies needing to fill temporary or permanent positions.
                            Essentially, we match the labour needs of our clients with qualified 
                            candidates who possess the required skills and experience.</p>
                    <ul class="footer-social text-left mt-lg-4 mt-3">

                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-google-plus-g"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fas fa-rss"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-vk"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-wthree-w3ls">
                <div class="footer-title">
                    <h3>Get in touch</h3>
                </div>
                <div class="contact-info">
                    <h4>Location :</h4>
                    <p>1690 W 6th Street Suite G Corona, California 92882 United States.</p>
                    <div class="phone">
                        <h4>Contact :</h4>
                        <p>Phone : +1 951-272-0200</p>
                        <p>Email :
                            <a href="mailto:info@example.com">info@hr-staff.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-wthree-w3ls">
                <div class="footer-title">
                    <h3>Quick Links</h3>
                </div>
                <ul class="links">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a href="">Cities We Serve</a>
                    </li>                   
                    <li>
                        <a routerLink="/jobs/0">Jobs</a>
                    </li>
                    <li>
                        <a routerLink="/contactUs">Contact Us</a>
                    </li>
                </ul>
                <ul class="links">                   
                    <li>
                        <a routerLink="/contactUs">Support</a>
                    </li>                   
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="col-lg-3 footer-grid-wthree-w3ls">
                <div class="footer-title">
                    <h3>Sign up for your offers</h3>
                </div>
                <div class="footer-text">
                    <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                    <form action="#" method="post">
                        <input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
                        <button class="btn2">
                            <i class="far fa-envelope" aria-hidden="true"></i>
                        </button>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright mt-4">
            <p class="copy-right text-center ">&copy; 2018 Replenish. All Rights Reserved | Design by
                <a href="http://w3layouts.com/"> W3layouts </a>
            </p>
        </div>
    </div>
</footer>