<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Some Info</span> Quick Career Tips</h3>
            <div class="row mt-5">

                <div class="card-deck">
                    <div class="card">
                        <img src="assets/images/g1.jpg" alt="Card image cap" class="img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Would Disruption Work for Your Business?</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore .</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/images/g2.jpg" alt="Card image cap" class="img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">The New Mix of a Multigenerational Workforce</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore. </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/images/g3.jpg" alt="Card image cap" class="img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Would Disruption Work for Your Business?</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore. </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>