<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
<!---728x90--->
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <div class="single-user-candidate">
                <div class="user-detail-info text-center">                   
                    <div class="user-content-info emply-resume-info text-center mt-4">
                        <h4>
                            <a href="#">{{_category.categoryTitle}}</a>
                        </h4>
                        <div class="skills-info my-4">                           
                            <span class="mx-3">Last Update: Month 00 00</span>
                        </div>                      
                    </div>
                </div>
            </div>
            <!--row -->
            <div class="row qualification-details mt-5">
                <div class="col-md-4 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Viewed</h4>
                        <p>164</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="far fa-file-alt"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Posted Jobs</h4>
                        <p>43</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Categories</h4>
                        <p>{{_category.tags}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>                
            </div>
            <!--row -->
    <!---728x90--->
            <!--/about -->
            <div [innerHTML] = "categoryDescription" class="candidate-ab-info mt-5"></div>
            <!--// about -->
    <!---728x90--->
            <!--/history -->
            <div class="candidate-history-info mt-5">
                <h5 class="j-b mb-5">Jobs from {{_category.categoryTitle}}</h5>
                <div class="candidate-story-grid">                  
                    <jobelement-list *ngFor="let jobObj of _jobs" [_jobObject]="jobObj" ></jobelement-list>
                </div>
                <!---//network-->
            </div>
            <div class="main_grid_contact emp-single-page mt-5">
                <div class="form emp-single">
                    <h4 class="mb-4 text-left">Contact Business Network</h4>
                    <form action="#" method="post" class="row">
                        <div class="col-lg-6 emp-single-line">
                            <div class="form-group">
                                <label class="my-2">Name</label>
                                <input class="form-control" type="text" name="Name" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label class="my-2">Phone Number</label>
                                <input class="form-control" type="text" name="Phone" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="Email" placeholder="" required="">
                            </div>

                        </div>
                        <div class="col-lg-6 emp-single-line">
                            <div class="form-group">
                                <label>Message</label>
                                <textarea id="textarea" placeholder=""></textarea>
                            </div>
                            <div class="input-group1">
                                <input class="form-control" type="submit" value="Submit Mail">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>