<div class="cont" *ngIf="!hideIndexHeader">
<slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">               
    </slideshow>
    <navbar class="navBar bg"></navbar>   
    <app-header-search class="searchBar"></app-header-search>
</div>