.cont {
  position: relative;
}

/* Style the button and place it in the middle of the container/image */
.cont .navBar {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  width: 100%;  
  background: url(../../../src/assets/images/dots.png);
  height: 30%;
}

.cont .searchBar {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    width: 100%;
    border: none;
    background: url(../../../src/assets/images/dots.png);
    height: 70%;
  }
